.Box {
  width: 128px;
  height: 128px;
  -webkit-transform: rotate3d(0, 1, 0, 0deg);
  background-color: red;
  border-radius: 64px;
}

@-webkit-keyframes BoxAnimation-step-0 {
  from {
    width: 128px;
    height: 128px;
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    background-color: red;
    border-radius: 64px;
  }

  to {
    width: 256px;
    height: 128px;
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    background-color: red;
    border-radius: 32px;
  }
}

@-webkit-keyframes BoxAnimation-step-1 {
  from {
    width: 256px;
    height: 128px;
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    background-color: red;
    border-radius: 32px;
  }

  to {
    width: 256px;
    height: 256px;
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    background-color: yellow;
    border-radius: 128px;
  }
}

@-webkit-keyframes BoxAnimation-step-2 {
  from {
    width: 256px;
    height: 256px;
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    background-color: yellow;
    border-radius: 128px;
  }

  to {
    width: 256px;
    height: 256px;
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    background-color: blue;
    border-radius: 128px;
  }
}

.BoxAnimation0 {
  -webkit-animation-name: "BoxAnimation-step-0";
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
}

.BoxAnimation1 {
  -webkit-animation-name: "BoxAnimation-step-1";
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
}

.BoxAnimation2 {
  -webkit-animation-name: "BoxAnimation-step-2";
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
}
